.move-container {
    border-bottom: 1px solid rgba(128, 128, 128, 0.192);
    color: rgb(53, 53, 53);
}

.move-list-container {
    h1 {
        font-weight: 600;
        font-size: 20px;
        color: rgb(53, 63, 82);
    
    }
}