<div class="navbar-main-container">
  <div class="navbar-container container">
    <a routerLink='/dashboard'>
      <div class="nav-logo">
      <img src="./../../assets/img/logo.png" alt="" />
      <span>MissCoin</span>
    </div>
  </a>
    <div class="nav-menu">
      <ul>
        <li>
          <a routerLink='contact'>
            Contacts
          </a>
        </li>
        <li>
          <a routerLink='charts'>
            Charts
          </a>
        </li>
        <li *ngIf="user">
          <div class="{{'connection-mode' + ' online'}}"></div>
          <ngx-avatar [name]="user.name" size="30"></ngx-avatar>
        </li>
      </ul>
    </div>
  </div>
</div>