<div class="transfer-fund-container">
    <div class="transfer-title"> Transfer coins to {{contact.name}} </div>
    <div class="transfer-field">
        <div class="form-container">
            <form (submit)="onTransfer()" >
                <input type="number" [(ngModel)]="coins" (input)="onChange()" name="amount"
                    placeholder="Amount in BTC" />
                <button>Transfer</button>
                <span class="form-errors" *ngIf="formError"> {{formError}} </span>
            </form>
        </div>
    </div>
</div>