.transfer-fund-container {
    margin: 10px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.308);
    border-bottom: 1px solid rgba(128, 128, 128, 0.308);
    & > * {
      padding: 10px 0;
      margin: 5px 0;
    }
    input {
      border: none;
      border-bottom: 1px solid grey;
    }
    button {
      height: 30px;
    }
    .form-container {
      form {
        display: flex;
        position: relative;
      }
    }
    .form-errors {
      color: red;
      position: absolute;
      bottom: -25px;
      background-color: #fff;
    }
  }
  