.contact-filter-container {
    margin: 5px;
    justify-content: center;
    border: 1px solid rgb(240, 242, 247);
    background-color: #fff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.068), 0px 3px 8px rgba(0, 0, 0, 0.1) !important;
    border-radius: 8px;
    padding: 5px;
    input {
        padding: 8px 20px;
        color: -internal-light-dark(black, white);
        text-indent: 0px;
        background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
        margin: 0em;
        border: none;
        outline: none;
    }
}