<div class="hp-main-container">
    <div class="hp-header">
      <div class="hp-title">
        The Best Way to Store, Send and Receive Crypto
      </div>
      <div class="hp-subtitle">
        MissCoin is the easiest place to send, store, and manage your
        Crypto.
      </div>
      <div class="hp-start-btn">
        <button (click)="onGetStarted()">Get Started</button>
      </div>
      <div class="hp-chart">
        <chart *ngIf="marketPrice.data"
        type="marketPrice"
        chartTitle="Market Price (BTC/USD)"
        chartSubTitle=""
        [data]="marketPrice.data"
        [colors]="marketPrice.colors"
        chartWidth="{{800}}"
        ></chart>
      </div>
    </div>
    <div class="map-bottom">
      <img src="./../../assets/img/mapbottom.png" alt=""/>
    </div>
    <div class="hp-first-section container">
      <div class="hp-section-title">
        Create your cryptocurrency portfolio today
      </div>
      <div class="hp-section-subtitle">
        MissCoins has a variety of features that make it the best place to
        start trading
      </div>
      <div class="hp-feature-card">
        <div class="hp-features">
          <div class="hp-feature">
            <div class="hp-feature-icon">
              <i nz-icon nzType="bar-chart"	nzTheme="outline"></i>
            </div>
            <div class="feature-txt">

            <div class="hp-feature-title">Manage your portfolio</div>
            <div class="hp-feature-subtitle">
              Buy and sell popular digital currencies, keep track of them in
              the one place.
            </div>
            </div>
          </div>
          <div class="hp-feature">
            <div class="hp-feature-icon">
              <i nz-icon nzType="check-square"	nzTheme="outline"></i>
            </div>
            <div class="feature-txt">
            <div class="hp-feature-title">Recurring buys</div>
            <div class="hp-feature-subtitle">
              Invest in cryptocurrency slowly over time by scheduling buys
              daily, weekly, or monthly.
            </div>
            </div>
          </div>
          <div class="hp-feature">
            <div class="hp-feature-icon">
              <i nz-icon nzType="lock" nzTheme="outline"></i>
            </div>
            <div class="feature-txt">
            <div class="hp-feature-title">Vault protection</div>
            <div class="hp-feature-subtitle">
              For added security, store your funds in a vault with time
              delayed withdrawals.
            </div>
            </div>
          </div>
          <div class="hp-feature">
            <div class="hp-feature-icon">
              <i nz-icon nzType="mobile" nzTheme="outline"></i>
            </div>
            <div class="feature-txt">
            <div class="hp-feature-title">Mobile</div>
            <div class="hp-feature-subtitle">
              100% available on mobile.
            </div>
            </div>
          </div>
        </div>
        <div class="hp-features-img">
          <img
            src="../../../assets/img/big-img2.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>