<div class="charts-container container">

        <ng-container *ngIf="marketPrice.data && avgBlockSize.data && confirmedTransaction.data && tradeVolume.data; else loader">

            <chart
            type="marketPrice"
            chartTitle="Market Price (BTC/USD)"
            chartSubTitle=""
            [data]="marketPrice.data"
            [colors]="marketPrice.colors"
            ></chart>
            <chart
            type="marketPrice"
            chartTitle="Average Block Size (MB)"
            chartSubTitle=""
            chartNum=""
            [data]="avgBlockSize.data"
            [colors]="avgBlockSize.colors"
            ></chart>
            <chart
            type="marketPrice"
            chartTitle="Confirmed Transactions Per Day"
            chartSubTitle=""
            chartNum=""
            [data]="confirmedTransaction.data"
            [colors]="confirmedTransaction.colors"
            ></chart>
            <chart
            type="marketPrice"
            chartTitle="Trade Volume"
            chartSubTitle=""
            chartNum=""
            [data]="tradeVolume.data"
            [colors]="tradeVolume.colors"
            ></chart>
        </ng-container>
        <ng-template #loader>
            <img src="./../../assets/img/loader.gif" alt="" srcset="">
        </ng-template>
         <!-- <chart
         type="marketPrice"
         chartTitle="Market Price (BTC/USD)"
         chartSubTitle=""
         chartNum=""
         data={this.state.marketPriceData}
         chartColors={this.state.chartColors}
         ></chart> -->
         <!-- <chart
         type="marketPrice"
         chartTitle="Average Block Size (MB)"
         chartSubTitle=""
         chartNum=""
         data={this.state.avgBlockSizeData}
         chartColors="{['#2196f3', '#ffc175']}"
         ></chart>
         <chart
         type="marketPrice"
         chartTitle="Trade Volume"
         chartSubTitle=""
         chartNum=""
         data={this.state.tradeVolumeData}
         chartColors="{['#4caf50', '#ffc175']}"
         ></chart>
         <chart
         type="marketPrice"
         chartTitle="Confirmed Transactions Per Day"
         chartSubTitle=""
         chartNum=""
         data={this.state.confirmedTransactionsData}
         chartColors="{['#9c27b0', '#ffc175']}"
         ></chart> -->
 </div>