
@mixin for-narrow-layout {
  @media (max-width: 1400px) {
      @content;
  }
}
.homepage-container {
  & div:first-child {
    margin: 0 20px;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  .total-txt {
    font-weight: 500;
    font-size: 16px;
    line-height: inherit;
    text-transform: capitalize;
    font-style: normal;
    color: rgb(152, 161, 178);
  }
  .total-amount {
    font-size: 24px;
    font-weight: 500;
    color: rgb(53, 63, 82);
  }
  .balances-list {
    width: 100%;
    li {
      border-bottom: 1px solid rgb(240, 242, 247);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0px;
    }
    .coin-text {
      font-size: 20px;
      font-weight: 500;
      color: rgb(53, 63, 82);
    }
    .coin-amounts {
      color: rgb(152, 161, 178);
    }
  }
  .welcome-back-txt {
    padding: 30px 0;
  }
}

.main-content-hp {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .hp-main-cards {
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    border-radius: 8px;
    // justify-content: center;
    align-items: center;
    padding: 24px 24px 0px;
    border: 1px solid rgb(240, 242, 247);
    flex-direction: column;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1);
    @include for-narrow-layout {
      margin: 20px!important;
    }
    .total-balances {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
  .recent-payments {
    .balances-list {
      padding: 20px 0;
    }
  }

}
